<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App33 - {{page_title}}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'privacy' %}">Privacy</a>
    </nav>
    <h1>{{page_header}}</h1>
    <h2>{{gret}}</h2>
    <p>
        Data from context: x = {{x}}<br>
        Data from context: y = {{y}}
    </p>
    <i>Page loaded at: {{time}}</i>
</body>
</html>