{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App33 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}" />
    <link rel="stylesheet" href="{% static 'css/delivery.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.min.css' %}" />
    <link rel="icon" href="{% static 'img/python.png' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/python.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Project-33
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="/clonning" class="nav-link" title="Інструкція з клонування проєкту з Гітхаба"><i class="bi bi-copy me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/layouting" class="nav-link" title="Шаблонізація - створення єдиного оточення"><i class="bi bi-grid-1x2 me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/statics" class="nav-link" title="Підключення статичних файлів-ресурсів"><i class="bi bi-file-post me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/params" class="nav-link" title="Transfer params in request"><i class="bi bi-arrow-down-up me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/forms" class="nav-link" title="Forms, transfer complex params"><i class="bi bi-ui-checks me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/taxi" class="nav-link"><i class="bi bi-taxi-front-fill me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/form-styled" class="nav-link"><i class="bi bi-journal-bookmark me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/form-delivery" class="nav-link" title="Delivery order"><i class="bi bi-truck me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/models" class="nav-link" title="Delivery order"><i class="bi bi-database me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/seed" class="nav-link" title="Seed"><i class="bi bi-flower3 me-3" style="font-size: 1.5rem;"></i></a>
                        </li>

                        <li>
                            <a href="/lottery" class="nav-link"><i class="bi bi-ticket-perforated me-3" style="font-size: 1.5rem;"></i></a>
                        </li>
                    </ul>
                    <form class="d-flex mx-auto" role="search" method="get" action="/params">
                        <input
                                class="form-control me-2"
                                type="search" placeholder="Search"
                                aria-label="Search"
                                name="q"
                        />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <a href="/signup" class="nav-link" title="new user registration"><i class="bi bi-person-add me-3" style="font-size: 2.5rem;"></i></a>
                    <a href="/admin" class="nav-link" title="admin panel"><i class="bi bi-speedometer2 me-3" style="font-size: 2.5rem;"></i></a>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#authModal">
                       <i class="bi bi-box-arrow-in-right" style="font-size: 1.5rem;"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>

    <footer class="bg-body-tertiary border-top">
        &copy; 2025, IT STEP Academy
        {% block footer %}{% endblock %}
    </footer>

    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="authModalLabel">Authentication</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="col">
                <div class="input-group mb-3">
                  <label
                          class="input-group-text"
                          for="auth-modal-login"
                          id="auth-modal-login-addon">
                          <i class="bi bi-key"></i>
                  </label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Login"
                          id="auth-modal-login"
                          aria-label="Login"
                          aria-describedby="auth-modal-login-addon"
                  />
                  <div class="invalid-feedback">
                    Incorrect data
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group mb-3">
                  <label
                          class="input-group-text"
                          for="auth-modal-password"
                          id="auth-modal-password-addon">
                          <i class="bi bi-lock"></i>
                  </label>
                  <input
                          type="password"
                          class="form-control"
                          placeholder="Password"
                          id="auth-modal-password"
                          aria-label="Password"
                          aria-describedby="auth-modal-password-addon"
                  />
                  <div class="invalid-feedback">
                    Incorrect data
                  </div>
                </div>
              </div>
          </div>
             <div class="modal-footer d-flex justify-content-between align-items-center">
                <div id="auth-error-alert" class="alert alert-danger py-2 px-3 m-0 d-none" role="alert" style="font-size: 0.9rem;"></div>

                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                    <button type="button" class="btn btn-primary" id="btn-auth-modal">Sign in</button>
                </div>
            </div>
        </div>
      </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
</body>
</html>    