{% extends "_layout.html" %}

{% block title %}Seed{% endblock %}

{% block content %}
<h1 class="display-4">Seeding: output setup data</h1>
<button class="btn btn-danger" id="btn-seed">Seed</button>
<h2 class="display-5 mb-3">Test mode auth (token)</h2>
<button class="btn btn-warning" id="btn-auth-test">Test</button>

<button class="btn btn-secondary" id="btn-auth-test-no-header">No header</button>
<button class="btn btn-secondary" id="btn-auth-test-invalid-scheme">Invalid scheme</button>
<button class="btn btn-secondary" id="btn-auth-test-invalid-token">Invalid token</button>
{% endblock %}