body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

footer
{
    padding: 10px 30px;
}

main
{
    flex-grow: 1;
    padding: 10px 50px;
}